<div>
    <mat-card>
      <div>
        <mat-card-header>
          <mat-card-title>Hello User!</mat-card-title>
          <mat-card-subtitle>Hope you are having a great day!</mat-card-subtitle>
        </mat-card-header>
      </div>
      <mat-card-content>
        <div>
          <button routerLink="/cars" mat-raised-button color="primary">List cars</button>
          <button (click)="logout()" class="notLeftButton" mat-raised-button color="warn">Log out</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
  